$PURPLE: #7f53ac;
$BLUE_100: #f0f0f0;
$BLUE_200: #a2acb9;
$BLUE_500: #647dee;
$WHITE: #ffffff;
$BLACK: #3e3e3e;
$GREY_300: #f4f4f4;
$GREY_500: #c4c4c4;
$GREY_700: #717171;
$GREY_800: #8c8c8c;
